body {
  --my-cyan: rgb(30, 240, 240);;
  --my-grey: rgb(52, 52, 65);
  --turquoise-grey: rgb(59, 121, 152);
  --grape-purple: rgb(79, 29, 115);
  --lavenderblush: rgb(255, 240, 245);
  background-color: var(--lavenderblush);
  color: var(--my-grey);
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--turquoise-grey);
}

article a {
  color: var(--grape-purple);
}
