<!doctype html>
<html lang="en-GB" />
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="author" property="og:article:author" content="Francis Barton" />
  <meta itemprop="datePublished" property="og:article:published_time" content="2021-10-29" />
  <meta name="keywords" property="og:article:tag" content="one, two" />
  <meta property="og:type" content="article" />
  <meta property="og:title" property="twitter:title" content="{myrmidon2} – An RMarkdown Template" />
  <title>{myrmidon2} – An RMarkdown Template</title>
  <link rel="stylesheet" type="text/css" href="skeleton_files/sass45a5ec2d1a08caa3b4eb8a0a6c81d812/style.min.css" />
  <link rel="stylesheet" type="text/css" href="js/hl/styles/base16/eighties.min.css" />
  <script src="skeleton_files/header-attrs-2.11/header-attrs.js"></script>
  <link href="skeleton_files/anchor-sections-1.0.1/anchor-sections.css" rel="stylesheet" />
  <script src="skeleton_files/anchor-sections-1.0.1/anchor-sections.js"></script>
  
</head>

<body>


<main role="main">

<header id="title-block-header">

<h1 class="title">An RMarkdown Template</h1>

<h2 class="subtitle">Something to start with</h2>


</header>

<article>
<hr />
<h3 id="session-info">session info</h3>
<details>
<summary>
session info
</summary>
<pre class="r"><code>&gt; xfun::session_info(dependencies = FALSE)
R version 4.1.1 (2021-08-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19043)

Locale:
  LC_COLLATE=English_United Kingdom.1252 
  LC_CTYPE=English_United Kingdom.1252   
  LC_MONETARY=English_United Kingdom.1252
  LC_NUMERIC=C                           
  LC_TIME=English_United Kingdom.1252    

Package version:
  xfun_0.26         janitor_2.1.0     forcats_0.5.1     stringr_1.4.0    
  dplyr_1.0.7       purrr_0.3.4       readr_2.0.2       tidyr_1.1.4      
  tibble_3.1.5      ggplot2_3.3.5     tidyverse_1.3.1   here_1.0.1       
  Rcpp_1.0.7        lubridate_1.7.10  assertthat_0.2.1  rprojroot_2.0.2  
  digest_0.6.28     utf8_1.2.2        R6_2.5.1          cellranger_1.1.0 
  backports_1.2.1   reprex_2.0.1      evaluate_0.14     httr_1.4.2       
  pillar_1.6.3      rlang_0.4.11      readxl_1.3.1      rstudioapi_0.13  
  jquerylib_0.1.4   rmarkdown_2.11    textshaping_0.3.5 munsell_0.5.0    
  broom_0.7.9       compiler_4.1.1    modelr_0.1.8      pkgconfig_2.0.3  
  systemfonts_1.0.2 htmltools_0.5.2   tidyselect_1.1.1  fansi_0.5.0      
  crayon_1.4.1      tzdb_0.1.2        dbplyr_2.1.1      withr_2.4.2      
  grid_4.1.1        jsonlite_1.7.2    gtable_0.3.0      lifecycle_1.0.1  
  DBI_1.1.1         magrittr_2.0.1    scales_1.1.1      cli_3.0.1        
  stringi_1.7.5     fs_1.5.0          snakecase_0.11.0  xml2_1.3.2       
  bslib_0.3.0       ellipsis_0.3.2    ragg_1.1.3        generics_0.1.0   
  vctrs_0.3.8       tools_4.1.1       glue_1.4.2        hms_1.1.1        
  fastmap_1.1.0     yaml_2.2.1        colorspace_2.0-2  rvest_1.0.1      
  knitr_1.36        haven_2.4.3       sass_0.4.0       </code></pre>
</details>
</article>

</main>

<footer>


<address>
<p class="author"><a href="https://twitter.com/ludictech">Francis Barton</a></p>
</address>

<p class="date">2021-10-29</p>

<script src="js/hl/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

</footer>
</body>
</html>
